<div class="row">
    <div class="col-lg-12">
       <a class="btn btn-primary" routerLink="../../dashboard/create">Add Books</a>
    </div>
</div>
<table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Book Title</th>
            <th scope="col">Author Name</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let blog of blogList;let i = index;">
            <th scope="row">{{i + 1}}</th>
            <td>{{blog.name}}</td>
            <td>{{blog.authorName}}</td>
            <td>{{blog.description}}</td>
            <td><img src="{{blog.avatar}}" height="100px" width="100px"></td>
            <td>
                <a routerLink="../../dashboard/edit/{{blog.id}}" class="btn btn-primary btn-sm">Edit</a>
                <button (click)="deleteBlog(blog.id)" class="btn btn-danger btn-sm">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      