<app-top-bar></app-top-bar>
<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Clean Blog</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>


  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview" *ngFor="let element of blogList">
          <a routerLink="post/{{element.id}}">
            <h2 class="post-title">
              {{element.title}}
            </h2>
            <h3 class="post-subtitle">
              {{element.Description}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{element.author}}</a>
            on June 25th, 2019</p>
        </div>        
        <hr>
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>
  
<app-footer></app-footer>